pandas
selenium
python-dotenv
requests
python-telegram-bot[job-queue]
streamlit
plotly
aiohttp
beautifulsoup4
pytest
schedule
pybaseball
xgboost
joblib
scikit-learn
scipy
optuna
lightgbm
catboost
tzdata
curl_cffi~=0.16.3
